<form #holidayForm="ngForm" (ngSubmit)="handleSubmit(holidayForm.value)">
    <h1>post new holiday</h1>
   
    <div class="mb-3">
      <label for="City" class="form-label">City</label>
      <input  type="text" class="form-control" id="City" name="city" ngModel >
    </div>
    <div class="mb-3 ">
        <label cclass="form-control" for="Evaluation">Evaluation</label>

      <input  type="number" id="Evaluation" name="evaluation" ngModel >
    </div>
    <div class="mb-3">
        <label for="ImgURL" class="form-label">ImgURL</label>
        <input  type="text" class="form-control" id="ImgURL" name="img" ngModel >
      </div>
      <div class="mb-3 ">
        <label cclass="form-control" for="Period">Period</label>

        <input  type="number" id="Period" name="period" ngModel >
      </div>

      <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input  type="text" class="form-control"  name="description" ngModel id="Description">
      </div>

      <div class="mb-3 ">
        <label cclass="form-control" for="Price">Price</label>
        <input  type="number" id="Price" name="price" ngModel >
      </div>
      <div class="mb-3">
        <label for="Guide" class="form-label">Guide</label>
        <input  type="text" class="form-control"  name="guide" ngModel id="Guide">
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>