<section class="slideBar " [ngClass]="collapsed ? 'slideBar-collapsed':''">
  <div class="logo-container">
    <a (click)="toggleCollapse()">
      <img class="logo-icon" src="../../../assets/logoIconWhite.png" alt="logo">
    </a>
    <div class="logo-text">
      <span *ngIf="collapsed">TravEasy</span>
    </div>
    <button class="btn-close ms-2" *ngIf="collapsed" (click)="closeSlideBar()">
    </button>
  </div>
  <ul class="slideBar-nav mb-5">
    <ng-container *ngIf="isLoggedIn">
      <li class="slideBar-nav-item " *ngFor="let data of sliderData">
        <a class="slideBar-nab-link" [routerLink]="[data.routerLink]">
          <i class="slideBar-link-icon" [class]="data.icon"></i>
          <span class="slideBar-link-text" *ngIf="collapsed">{{data.label}}</span>
        </a>
      </li>
      <li class="slideBar-nav-item">
        <a class="slideBar-nab-link" routerLink="upload">
          <i class="slideBar-link-icon fa-solid fa-cloud-arrow-up"></i>
          <span class="slideBar-link-text" *ngIf="collapsed">Upload</span>
        </a>
      </li>
      <li class="slideBar-nav-item" (click)="logout()">
        <a class="slideBar-nab-link">
          <i class="slideBar-link-icon fa-solid fa-arrow-right-to-bracket"></i>
          <span class="slideBar-link-text" *ngIf="collapsed">Logout</span>
        </a>
      </li>
    </ng-container>
    <ng-container class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="slideBar-nav-item">
        <a class="slideBar-nab-link" routerLink="register">
          <i class="slideBar-link-icon fa-solid fa-arrow-right-to-bracket"></i>
          <span class="slideBar-link-text" *ngIf="collapsed">Sign Up</span>
        </a>
      </li>
      <li class="slideBar-nav-item">
        <a class="slideBar-nab-link" routerLink="login">
          <i class="slideBar-link-icon fa-solid fa-arrows-down-to-line"></i>
          <span class="slideBar-link-text" *ngIf="collapsed">Login</span>
        </a>
      </li>
    </ng-container>


  </ul>



</section>
